<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Opening Keynote</td> </tr>
      <tr> <td>10:30</td>  <td>Introductions</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Intro to Data & Language Games</a></td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Continued Exercises & Demos {Voyant, scraping, et alia}</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Data Organisation in Spreadsheets</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">Data Cleaning in OpenRefine</a></td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:30</td>  <td>Perfect pragmatism</td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Lectures</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Text Mining in R</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:30</td>  <td>Web archives</td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Lectures</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Cultural capital and the digital enviornment</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>A peak behind the scenes: digital archives in practice</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:30</td>  <td>Ethics, archives, and metadata</td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Lectures</td> </tr>
    </table>
  </div>
   <div class="col-md-6">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Self-digitization and the ten thousand pictures problem</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Hello world: from digitisation to digital archive</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:30</td>  <td>Once archives have become digital</td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Closing Keynote</td> </tr>
    </table>
  </div>
</div>
